<h2 *ngIf="(courses  | filterByAttribute:'public':true | filterByType:'course').length > 0">Available Courses</h2> <a routerLink="./edit/new" class="btn btn-success" *ngIf="user?.group.admin">CREATE NEW</a>
<table class="table table-striped" *ngIf="(courses  | filterByAttribute:'public':true | filterByType:'course').length > 0">
    <thead>
      <th>Name</th>
      <th>Day(s)</th>
      <th>Time</th>
      <th>Start</th>
      <th>End</th>
      <th></th>
    </thead>
    <tbody>
       <tr *ngFor="let c of courses  | filterByAttribute:'public':true | filterByType:'course'">
          <td>{{c.name}} <span class="code">{{c.code}}</span> <a routerLink="edit/{{c.$key}}"  *ngIf="user?.group.admin">EDIT</a>
            <div *ngIf="(c.require | objectTrue2Array).length > 0" >
              Require: 
              <ul>
                <li *ngFor="let requireGroup of c.require | objectTrue2Array">{{ requireGroup.$key}}</li>
              </ul>
            </div>
            <!--<div >
              Exclude:
              <ul>
                <li *ngFor="let excludeGroup of c.exclude | objectTrue2Array">{{ excludeGroup.$key |json }}</li>
              </ul>
            </div>-->
            <div>
              By <courses-teacher [teacher]="c.teacher"></courses-teacher> .
            </div>
          </td>
          <td><courses-day [daysNumber]="c.days"></courses-day> </td>
          <td>{{c.start_time}} - {{c.end_time}}</td>
          <td>{{c.start_date | date}}</td>
          <td>{{c.end_date | date}}</td>
          <td><courses-signup [course]="c" [enroll]="enroll_course" [pending]="pending_course" ></courses-signup></td>
        </tr>
    </tbody>
</table>
    <h2>Camp</h2>
    <table class="table" style="margin-bottom:0px;">
        <tr class="row">
            <td class="col-md-6">
              FULL PASS - Intermediate
            </td>
            
              <td class="col-md-3">{{9500 | currency:'THB'}}</td>
            
            <td class="col-md-3"><button class="btn btn-primary">ADD TO CART</button></td>
        </tr>
        <tr class="row">
            <td class="col-md-6">
              FULL PASS - Intermediate -  Advanced
            </td>
            
              <td class="col-md-3">{{9500 | currency:'THB'}}</td>
            
            <td class="col-md-3"><button class="btn btn-primary">ADD TO CART</button></td>
        </tr>
        <tr class="row">
            <td class="col-md-6">
              FULL PASS - Advanced
            </td>
            
              <td class="col-md-3">{{9500 | currency:'THB'}}</td>
            
            <td class="col-md-3"><button class="btn btn-primary">ADD TO CART</button></td>
        </tr>
        <tr class="row">
            <td class="col-md-6">
               FULL PASS - Solo Authentic Jazz
            </td>
            
              <td class="col-md-3">{{9500 | currency:'THB'}}</td>
            
            <td class="col-md-3"><button class="btn btn-primary">ADD TO CART</button></td>
        </tr>

    </table>
    <p style="color:#ff0000"><i>Note: Intermediate - Advanced and Advanced levels will require audition</i></p>
    <div style="height:19px;"></div>
    <h2>Additional Class (Optional)</h2>
    <table class="table">
        <tr class="row">
            <td class="col-md-6">Additional Solo Authentic Jazz workshop for 70 minutes</td>
            <td class="col-md-3">{{900 | currency:'THB'}}</td>
            <td class="col-md-3"><button class="btn btn-primary">ADD TO CART</button></td>
        </tr>

    </table>
    <h2>Bus (Optional)</h2>
    <table class="table">
        <tr class="row">
            <td class="col-md-6">Bangkok to Sampran (Big Bang Camp)</td>
            <td class="col-md-3">{{350 | currency:'THB'}}</td>
            <td class="col-md-3"><button class="btn btn-primary">ADD TO CART</button></td>
        </tr>
        <tr class="row">
            <td class="col-md-6">Sampran (Big Bang Camp) to Bangkok</td>
            <td class="col-md-3">{{350 | currency:'THB'}}</td>
            <td class="col-md-3"><button class="btn btn-primary">ADD TO CART</button></td>
        </tr>

    </table>

     <h2>Jack and Jill (Optional)</h2>
    <table class="table">
        <tr class="row">
            <td class="col-md-6">Sign up as Jack </td>
            <td class="col-md-3">{{200 | currency:'THB'}}</td>
            <td class="col-md-3"><button class="btn btn-primary">ADD TO CART</button></td>
        </tr>
        <tr class="row">
            <td class="col-md-6">Sign up as Jill</td>
            <td class="col-md-3">{{200 | currency:'THB'}}</td>
            <td class="col-md-3"><button class="btn btn-primary">ADD TO CART</button></td>
        </tr>

    </table>