<div class="login-page">
  <div *ngIf="loginService.isLogin()">
    <div>Welcome {{(loginService.info | async)?.nickname}}</div>
    <button (click)="logout()" class="btn btn-inverse">Log Out</button>

  </div>
  <div *ngIf="!loginService.isLogin()">

    <h1 class="ribbon">
      <strong class="ribbon-content">Welcome to Registration System</strong>
    </h1>
    <div class="login area">
      <div class="row">    
        <div class="col-md-12">
            <input type="email" class="form-control" placeholder="Email" [(ngModel)]="email"><br/>
        </div>
        <div class="col-md-12">
          <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password"><br/>
        </div>
        <div class="col-md-12">
          <button (click)="passwordLogin()" class="btn btn-success ">Login</button>
          <br/>
          <br/>
                OR
          <br/>
          <br/>
          <a (click)="login()" class="google-btn">
                
            
            <img src="https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png"/></a> 
           
          <a (click)="facebookLogin()" class="btn btn-primary">Facebook Login</a>
        </div>
        
      </div><br/>
      Dont have account? <a routerLink="/signup" >Sign up here </a>
    
      </div><!-- end login area -->
  </div>
</div>
