<p>
  My current payments

</p>
<div *ngIf="user?.group.admin">
  <a routerLink="list">view all payment</a>
  <a routerLink="report">Create a report</a>
</div>
<table class="table table-striped">
    <thead>
      <th>#</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Transfer Date</th>
      <th>Transfer Time</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let item of payments">
        <td>{{item.$key}}</td>
        <td>{{item.payment_type}}</td>
        <td>{{item.total}}</td>
        <td>{{item.status}}</td>
        <td>{{item.transfer_date | date}}</td>
        <td>{{item.transfer_time }}</td>
        <td>
          <button class="btn btn-success" (click)="download(item)">DOWNLOAD</button> 
          <div *ngIf="item.canCancel()"><br/>
            <button class="btn btn-danger" (click)="cancel(item)">CANCEL</button>
          </div>
        </td>
      </tr>
    </tbody>
</table>